<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buyibo.mapper.SortImageMapper">

    <resultMap type="com.buyibo.model.SortImage" id="SortImageMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sortId" column="sort_id" jdbcType="INTEGER"/>
        <result property="imageId" column="image_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SortImageMap">
        select
          id, sort_id, image_id
        from horizonproject.sort_image
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SortImageMap">
        select
          id, sort_id, image_id
        from horizonproject.sort_image
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SortImageMap">
        select
          id, sort_id, image_id
        from horizonproject.sort_image
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="sortId != null">
                and sort_id = #{sortId}
            </if>
            <if test="imageId != null">
                and image_id = #{imageId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into horizonproject.sort_image(sort_id, image_id)
        values (#{sortId}, #{imageId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update horizonproject.sort_image
        <set>
            <if test="sortId != null">
                sort_id = #{sortId},
            </if>
            <if test="imageId != null">
                image_id = #{imageId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from horizonproject.sort_image where id = #{id}
    </delete>

</mapper>